p {

  text-align: center;
  color: brown;


  opacity: 0.5;
}

th,
td {
  border: 1px solid black;
  padding: 5px 10px;
}


table {
  border-collapse: collapse;
  width: 100%;
  text-align: left;
}